body {
	width: 100%;
	height: 100%;
    margin: 0;
	padding: 0;
	background-color: #E6F0B6;
    
}

.experience .abilities{
	background-color: #000000;
}



header{
	background-color: inherit;
	padding: 10px 0px 0px 10px;
	width: 98%;
	height: 9%
}

footer{
	background-color: inherit;
	width: 98%;
	height: 10%;
	padding: 10px 0px 0px 10px;
}

section{
	height: 81%;
	width: auto;
	padding-left: 20px;
	background-color: inherit;
}

.section-container{
	width: 98%;
	display: grid;
    grid-template-columns: 90% 9%;
  	grid-template-areas:
	'left right';
  	grid-gap: 5px;
	background-color: inherit;
	background-size: 98%;
}

.logo-rumah{
	width: 65%; 
	padding-left: 35%;
}

.logo-al{
	width: 5%;
}

.container-header{
	width: 98%;
	display: grid;
    grid-template-columns: 90% 9%;
  	grid-template-areas:
	'left right';
  	grid-gap: 5px;
	background-color: inherit;
	background-size: 98%;
}

.headerkiri{
	text-align: center;
	grid-area: left;
	height: 90%;
	background-color: inherit;
	margin-right: 5%;
}

.headerkanan{
	grid-area: right; 
	background-color: inherit;
	width: auto;
	padding-right: 5%;
}

.grid-container {
   	width: 98%;
	display: grid;
    grid-template-columns: 90% 9%;
  	grid-template-areas:
	'left right';
  	grid-gap: 5px;
	background-color: inherit;
	background-size: 100%;
	
}

.container-lagi{
	width: 98%;
	display: grid;
    grid-template-columns: 50% 49%;
  	grid-template-areas:
	'left right';
  	grid-gap: 5px;
	background-color: inherit;
	background-size: 100%;
	margin: 5% 10% 5% 0%;
	font-size: 15px;
	list-style-type: none;

}

.btn1{
	text-align: center; 
	background-color: black;
	width: 100%; 
	height:100%;
	border-color: black;
}

.font{
	color: white;
}

.contact .profile .photograph{
	background-color: white;
}


#judul h1{
	width: 80%;
	border-bottom: 4px;
	border-bottom-style: solid;
	border-bottom-color: black; 
	border-bottom-width: 5%;
	padding-bottom: 3%;
}

.item2contact{
	background-color: white;
}

.item2 { 
	text-align: center;
	grid-area: left;
	height: 100%;
	background-color: inherit;
	width: 100%;
	
}


#konten{
	width: 100%;
	background-color: #E6F0B6;
}

.item3 { 
	grid-area: right; 
	background-color: inherit;
	height: 100px;
}

.item4{
	text-align: left;
	grid-area: left;
	background-color: inherit;
	padding: 0px 5px 5px 55px;
	margin: 0px 5px 5px 55px;
}

.item5{
	grid-area: right; 
	background-color: inherit;
	padding: 0px 50px 5px 5px;
	margin: 0px 50px 5px 5px;
	text-align: left;
}


.item5 li{
	line-height: 4.1;
}

.item4 li{
	line-height: 4.1;
}

.item5 img{
	width: 60%;
}

.item4 img{
	width: 60%;
}

.contact-img{
	align-items: center;
	padding-top: 30px;
}

#judul{
	text-align: center;
	font-size: 50px;
}

.right-content {
	margin-left: 10px;
	color: black;
}

.education .organization{
	line-height: 3;
}