<html>

    <head>
        <title>Al Kwarizmi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        ="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
        media="all" href="styleStory3.css"> 
        <link rel="icon" href="600px-OG_RB_Logo.png"> 


    </head>
    

    <body class="activities" style="background-color: white">
      <header class="container-header">
        <a href="{% url 'story4:index' %}"><button style="margin: 2% 2% 2% 2%" type="button" class="btn btn-dark">HOME</button></a>
      </header>
        <section>
            <div id="judul">
                <center><h1 style="font-size: 50px;"><strong>Create Activities</strong></h1></center>
            </div>
            <form class="css" action="{% url 'story5:schedule_create' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-1"></div>
                    <div class="form-group col-sm-10">
                        {% for fields in form %}
                            {{ fields.label_tag }}
                            <br>
                            {{ fields }}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-1"></div>
                    <input type="submit" class="btn btn-primary float-right" value="Add">
                </form>  
        </section>
    </body>
</html>