<html>

    <head>
        <title>Al Kwarizmi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        ="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
        media="all" href="styleStory3.css"> 
        <link rel="icon" href="600px-OG_RB_Logo.png"> 


    </head>
    
    
    <body class="listActivities" style="background-color: white">
      <header class="container-header">
        <a href="{% url 'story4:index' %}"><button style="margin: 2% 2% 2% 2%" type="button" class="btn btn-dark">HOME</button></a>
      </header>
        <section>
            <div id="judul">
                <center><h1 style="font-size: 50px;"><strong>List Activities</strong></h1></center>
            </div>
            <div class="col-sm-4"><h1>MY SCHEDULE.</h1>
                <div class="article">
                    <a href="\activities\"></a>
                    <div class="article">
                        <div class="row">
                            {% for schedule in schedules %}
                                <div class="col-sm-4 text-center">
                                    <h2>{{ schedule.activity }}</h2>
                                    <p>{{ schedule.date.date }}</p>
                                    <p>{{ schedule.time}}</p>
                                    <p>{{ schedule.place }}</p>
                                    <p>{{ schedule.category }}</p>
                                    <div class ='form-group'>
                                        <form action="/schedule/clear/{{ schedule.id }}/" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class = 'col-md-12'>
                        <a href="{% url 'story5:schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
                </div>        
            </div>
        </section>
    </body>
</html>