{% load static %}
<html>

    <head>
        <title>Al Kwarizmi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        ="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
        media="all" href="{% static 'css/styleStory3.css' %}"> 
        <link rel="icon" href="600px-OG_RB_Logo.png"> 
    </head>
    
    <nav style="background-color: black" class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'story4:index' %}"><img src="{% static 'images/AL.png' %}" class="img-fluid logo-al" alt="Responsive image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="\profile\">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="\abilities\">Abilities</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="\experiences\">Experiences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\photograph\">Photographs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\contact\">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\schedule\">Schedule</a>
            </li>
          </ul>
        </div>
      </nav>

    <body class="abilities">
        <section>
            <div></div>
                        <div id="judul">
                            <center><h1 style="font-size: 50px;"><strong>Abilities</strong></h1></center>
                        </div>
                        <div class="container-lagi">
                            <div class="item4">
                                    <div class="row">
                                            <div class="col" style="width:50%; text-align: center;">
                                                <h1>Skills</h1>
                                                <li>HTML</li>
                                                <li>Python</li>
                                                <li>CSS</li>
                                                <li>SQl</li>
                                                <li>Java</li>
                                            </div>
                                            <div class="col" style="padding-top: 17%">
                                            <img src="{% static 'images/Group 10.png' %}" class="bintang" >
                                            <img style="padding-top:18%" src="{% static 'images/Group 10.png' %}">
                                            <img style="padding-top:19%" src="{% static 'images/Group 10.png' %}">
                                            <img style="padding-top:21%" src="{% static 'images/Group 10.png' %}">
                                            <img style="padding-top:22%" src="{% static 'images/Group 10.png' %}">
                                            </div>
                                          </div>
                            </div>
                            <div class="item5" style="padding-top: 9%;">
                                    <div class="row">
                                            <div class="col" style="width:50%; text-align: center;">
                                                <li>Teamwork</li>
                                                <li>Microsoft Office</li>
                                                <li>Photoshop</li>
                                                <li>Ilustrator</li>
                                                <li>Premiere Pro</li>
                                            </div>
                                            <div class="col" style="padding-top: 6%">
                                            <img src="{% static 'images/Group 10.png' %}" class="bintang" >
                                            <img style="padding-top:15%;" src="{% static 'images/Group 10.png' %}">
                                            <img style="padding-top:24%;" src="{% static 'images/Group 10.png' %}">
                                            <img style="padding-top:20%;" src="{% static 'images/Group 10.png' %}">
                                            <img style="padding-top:20%;" src="{% static 'images/Group 10.png' %}">
                                            </div>
                                          </div>
                            </div>
                        </div>
        </section>
    </body>
</html>