<html>

    <head>
        <title>Al Kwarizmi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        ="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
        media="all" href="styleStory3.css"> 
        <link rel="icon" href="600px-OG_RB_Logo.png"> 


    </head>
    
    <body class="activities" style="background-color: white">
      <header class="container-header"></header>
        <section>
            <div id="judul">
                <center><h1 style="font-size: 50px;"><strong>Activities</strong></h1></center>
            </div>
            <div style=" padding-top: 2%; text-align: center" class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <form class="css" action="{% url 'schedule_create' %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <div class="form-group col-sm-10">
                                {% for fields in form %}
                                    {{ fields.label_tag }}
                                    <br>
                                    {{ fields }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <input type="submit" class="btn btn-primary float-right" value="Add">
                        </form>  
                  </div>
                  <div class="col-sm-4"><h1>MY SCHEDULE.</h1>
                    <div class="article">
                        <a href="{% url 'schedule' %}"></a>
                        <div class="article">
                            <div class="row">
                                {% for schedule in schedules %}
                                    <div class="col-sm-4 text-center">
                                        <h2>{{ schedule.activity }}</h2>
                                        <p>{{ schedule.date.date }}</p>
                                        <p>{{ schedule.time}}</p>
                                        <p>{{ schedule.place }}</p>
                                        <p>{{ schedule.category }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div></div>
                </div>
                </div>
            </div>
        </section>
    </body>
</html>