{% load static %}
<html>

    <head>
        <title>Al Kwarizmi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        ="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
        media="all" href="{% static 'css/styleStory3.css' %}"> 
        <link rel="icon" href="600px-OG_RB_Logo.png"> 


    </head>
    
    <nav style="background-color: black" class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="{% url 'story4:index' %}"><img src="{% static 'images/AL.png' %}" class="img-fluid logo-al" alt="Responsive image"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="\profile\">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="\abilities\">Abilities</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="\experiences\">Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\photograph\">Photographs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\contact\">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\schedule\">Schedule</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <body class="contact" style="background-color: white">
        <section>
                        <div id="judul">
                            <center><h1 style="font-size: 50px;"><strong>Contact</strong></h1></center>
                        </div>
                        <div style=" padding-top: 4%; text-align: center" class="container">
                                <div style="margin-top: 5px " class="row">
                                  <div class="col contact-img">
                                    <a href="http://www.instagram.com/alkwrzm"><img style="width: 12%;" src="{% static 'images/instagram(1).png' %}"><span class="right-content">instagram.com/alkwrzm</span></a>
                                  </div>
                                  <div class="col contact-img">
                                    <a href="http://www.twitter.com/alkwrzmda"><img style="width: 15%; padding-left: 5%;" src="{% static 'images/twitter(1).png' %}"><span class="right-content">twitter.com/alkwrzmda</span></a>
                                  </div>
                                  <div class="w-100"></div>
                                  <div class="col contact-img">
                                    <a href="http://www.linkedin.com/in/mohammed-al"><img style="width: 10%; margin-left: 10%;" src="{% static 'images/linkedin(1).png' %}"><span class="right-content">linkedin.com/in/mohammed-al</span></a>
                                  </div>
                                  <div class="col contact-img">
                                   <a><img style="width: 15%; padding-left: 5%" src="{% static 'images/email(1).png' %}"><span class="images/right-content">mohammed.al@ui.ac.id</span></a>
                                  </div>
                                </div>
                        </div>  
        </section>
    </body>
</html>