{% load static %}   
<html>

    <head>
        <title>Al Kwarizmi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        ="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
        media="all" href="{% static 'css/styleStory3.css' %}"> 
        <link rel="icon" href="600px-OG_RB_Logo.png"> 
    </head>
    
    <nav style="background-color: black" class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="{% url 'story4:index' %}"><img src="{% static 'images/AL.png' %}" class="img-fluid logo-al" alt="Responsive image"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="\profile\">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="\abilities\">Abilities</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="\experiences\">Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\photograph\">Photographs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\contact\">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\schedule\">Schedule</a>
          </li>
        </ul>
      </div>
    </nav>

    <body class="experience" style="background-color: white">
        <section>
            <div></div>
                        <div id="judul">
                            <center><h1 style="font-size: 50px;"><strong>Experience</strong></h1></center>
                        </div>
                        <div class="container-lagi">
                            <div class="item4 education" style="text-align: center">
                                <div style="line-height: 2">
                                    <h1>Education</h1>
                                    <strong>University of Indonesia</strong><br>
                                    2018 - Present<br>
                                    <strong>38 Jakarta Senior High School</strong><br>
                                    2015 - 2018<br>
                                    <strong>Al-Madinah Junior High School</strong><br>
                                    2012 - 2015<br>
                                </div>
                            </div>
                            <div class="item5 organization" style="text-align: center">
                                <div style="line-height: 2">
                                    <h1>Organization</h1>
                                <strong>Compfest 11<br>
                                    VPIC Equipment and Security
                                    </strong><br>
                                    2018 - Present<br>
                                <strong>Warung Pintar<br>
                                    Researcher Volunteer</strong><br>
                                    July 2019 - Agustus 2019<br>
                                <strong>BEM Fasilkom UI<br>
                                    Staff of Human Resources Development Bureau</strong><br>
                                    June 2019 - Present<br>
                                </div>
                            </div>
                        </div>
        </section>    
    </body>
</html>

<!-- <header class="container-header">
    <div class="header-kiri">
            <img src="{% static 'images/AL.png' %}" class="img-fluid logo-al" alt="Responsive image">
    </div>
    <div class="header-kanan">
            <a href="/"><img class="logo-rumah" src="{% static 'images/home.png' %}"></a>
    </div>
</header> -->