{% load static %}
<html>

    <head>
        <title>Al Kwarizmi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        ="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
        media="all" href="{% static 'css/styleStory3.css' %}"> 
        <link rel="icon" href="600px-OG_RB_Logo.png"> 
    </head>
    
    <nav style="background-color: black" class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="{% url 'story4:index' %}"><img src="{% static 'images/AL.png' %}" class="img-fluid logo-al" alt="Responsive image"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="\profile\">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="\abilities\">Abilities</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="\experiences\">Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\photograph\">Photographs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\contact\">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\schedule\">Schedule</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <body class="index" style="background-color: #6384B3">
        <section>
            <div class="grid-container">
                    <div class="item2">
                        <h1 style="text-shadow: black; font-style: italic; font-family: santisa one; font-display: block; text-align: center; font-size: 160px;">
                        AL<br>KWARIZMI
                        </h1>
                    </div>
                </div>
        </section>
    </body>
</html>