{% load static %}
<html>

    <head>
        <title>Al Kwarizmi</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        ="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
        media="all" href="{% static 'css/styleStory3.css' %}"> 
        <link rel="icon" href="600px-OG_RB_Logo.png"> 
    </head>

    <nav style="background-color: black" class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="{% url 'story4:index' %}"><img src="{% static 'images/AL.png' %}" class="img-fluid logo-al" alt="Responsive image"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="\profile\">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="\abilities\">Abilities</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="\experiences\">Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\photograph\">Photographs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\contact\">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\schedule\">Schedule</a>
          </li>
        </ul>
      </div>
    </nav>


    <body class="profile" style="background-color: white;">
        <section>
                    <div id="judul">
                    <center><h1 style="font-size: 50px;"><strong>Profile</strong></h1></center>
                    </div>
                    <div style=" padding-top: 5%" class="row">
                            <div style="padding-right: 0%; padding-left: 10%" class="col">
                            <center><h1 style="width: 90%">About Me</h1></center>
                              <div style="width: 80%; float:right; ">Al is an Information System 
                                student at the Computer Science 
                                Faculty of Universitas Indonesia 
                                who have an interest in business,
                                IT, and databases. Able to work in
                                teams and under pressure. A hard 
                                working and easy-motivated person. 
                                Really like to try new things, organize, 
                                analyze, and make relations with people. Currently, 
                                has special interests in web development and data analytics.</div>
                            </div>
                            <div style="align-items: center; padding-left: 5%" class="col">
                              <img style=" width: 200px; height: 200px; border-radius: 70%; border-image-width: 2%" src="{% static 'images/foto-baju-merah.png' %}">
                              <p style="padding-left: 3%; padding-top: 25%">Excited to see my <strong>RESUME?</strong></p>
                              <a style="padding-left: 15%" href="https://drive.google.com/open?id=16EJfAXy9YR2g26zQ2kj5LQkgJxEWQnXI"><img style="width: 124px" src="{% static 'images/lukhir.png' %}"></a>
                            </div>
                            <div class="col">
                              <h1>Details</h1>
                                <strong>Name:</strong><br>
                                Mohammed Al Kwarizmi<br>
                                <strong>Age:</strong><br>
                                19 y.o<br>
                               <strong>Location:</strong><br>
                               Bogor, Java, Indonesia<br>
                            </div>
                    </div>
                </div>
        </section>
    </body>
</html>